.land_logo{
    padding: 20px 40px;
    font-size: 40px;
    line-height: 40px;
    border-bottom: 1px solid rgba(228, 228, 228, 0.79);
    color: #fff;
}
.land_particles-background > div{
    background-color: #202d3a;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.land_left{
	width: 50%;
	float: left;
}
.land_right{
	width: 50%;
	float: right;
}
.land_content{
	padding: 20px 100px;
	font-size: 20px;
	color: #fff;
}

.dimmer > .content > .center{
  padding-top: calc(50% - 70px);
  vertical-align: unset !important;
}