.card-prefix{
		text-align: left !important;
}

.user-name{
    font-size: 26px;
    margin-bottom: 17px;
    margin-top: 28px;
}

.extra-attributes{
	font-size: 17px;
}

.completed-attribute{
	/*float: right;*/
}

.history-prefix{
	margin-right: 20px;
	margin-left: 20px;
	font-size: 20px;
}

.user_image{
	border-radius: 50px;
}
.user_fluid{
	box-shadow: none !important;
}
.user_languages{
	text-align: center;
}
.user_languages h2,
.user_languages h3{
	margin: 0;
}
.user_languages > .row .image{
    border-radius: 100px;
    margin: 20px auto;
    margin-bottom: 15px;
}