.card-prefix{
		text-align: left !important;
}

.user-name{
	font-size: 22px;
	margin-bottom: 17px;
}

.extra-attributes{
	font-size: 17px;
}

.completed-attribute{
	float: right;
}

.history-prefix{
	margin-right: 20px;
	margin-left: 20px;
	font-size: 20px;
}
