.auth0-lock-badge-bottom {
    display: none;
}

.auth0-lock-overlay {
    background: radial-gradient(#111118, #111118) rgba(34,34,40,0.94) !important;
}

.ui.inverted.menu {
    background: #414755;
}

.ace-cobalt {
    background-color: #353a45 !important;
}

.menu-item-text {
    font-weight: bold !important;
    font-size: 1.2em !important;
    text-align: center;
}

.right.item::before {
    background: rgba(255,255,255,0) !important;
}

.menu-item {
    justify-content: center;
}

.special_l {
    border-radius: 20px !important;
    background-color: #3B3F4C !important;

    height: 55px !important;
    padding-top: 15px !important;
}

.special_l >  .white_link > img {
    padding : 4px;
    border-radius: 20px !important;
}

.icon_l {
    margin-right: 0 !important;
    margin-left: 10px !important;
}

.white_link {
    opacity: 1 !important;
}

.white_link :hover {
    opacity: .5 !important;
}

.menu-item-first {
    background: #3B3F4C !important;
}

.ace_gutter {
    background: #1b1c23 !important;
    color: white !important;
}

.menu-item-first > .menu-item-text > span > img {
    margin-right: .5em !important;
}