.code-editor{
	text-align: left;
}
.ide-grid-row0{
	padding-bottom: 0 !important;
}
.buttongroup_1{
	margin-top: 5px !important;
	margin-right: 10px !important;
	margin-left: 10px !important;
}

._blue {
	background: rgb(162, 84, 33) !important;
}

._mint {
	background: rgb(255, 130, 46) !important;
}